body{
  background: #c5d5cb;
  font-family: tahoma;
  color: #3b3a36;
  user-select: none;
}

header{
  color: beige;
}
h1{
  padding: 0px 0px 0px 20px;
}

#container{
  width: 1600px;
  padding: 0px;
  margin: auto;
  border: 0px green dashed;
}

video, canvas{
  position: relative;
  margin: 10px;
}



button{
  padding: 20px;
  margin: 20px;
  width: 20%;
  background: #3b3a36;
  border: 0;
  box-sizing: border-box;
  color: #e3e0cf;
  cursor: pointer;
  font-size: 20px;
  float: left;
  border-radius: 5px;
  transition: 0.2s;
  outline-width: 0px;
}

#buttons{
  display: block;
  position: relative;
  float: left;
  width: 90%;
  margin: 5px;

}

button:hover{

  background: #3b3a36;
  border: 0;
  color: #e3e0cf;
  opacity: 0.8;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}
button:active{
 
  background: #e3e0cf;
  border: 0;
  box-sizing: border-box;
  color: #3b3a36;
  opacity: 0.9;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}



p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: 3b3a36;
  display: block;
  padding: 5px 5px 5px 20px;
  user-select: none;
}

img{
  width: auto;
  left: -10px;
  position: relative;
  height: 50px;
  padding: 0px 0px 0px 20px;
  display: block;
  border: 0px;
  margin: 0px;
}